body{
  margin: 0;
}
header {
  background:#adad85;
  display:flex;
  border-bottom: 2px solid black;
}
.wrapper {
  display:flex;
  background: lightgrey;
}
footer {
  display:flex;
  background:#adad85;
}
footer p{
  margin-left: 10%;
}
.containerLeft{
  align-self: center;
  width: 40%;
}
.containerRight{
  width: 60%;
  display: flex;
}
.contentLeft{
  margin-left: 25%;
}
.img{
  height: inherit;
}
img {
  opacity: 19%;
  max-width: 100%;
}
button{
  background: #1f1f2e ;
  color: white;
  padding: 1em 2em;
  border-radius: 10%;
}
.background{
  z-index: -1;
}
.albums{
  z-index:1;
  flex-flow: column;
  
}
h1{
  color: purple;
}
