body{
  margin: 0;
}
header {
  background:#adad85;
  border-bottom: 2px solid black;
  color: white;
  height: 5vh;
}
header p{
  margin-left: 10%;
}
main{
  height:88vh;
}
footer {
  height: 5vh;
  background:#adad85;
}
footer p {
  margin-left: 15%;
  color: white;
}
.buttons{
  height:25%;

}
.selection{
  display: flex;
  border: 1px solid black;
  justify-content: center;
  margin: 1em;
}
.buttons{
    background: #1f1f2e ;
    color: white;
    padding: 1em 4em;
    border-radius: 10%;

}
.buttonDiv{
  margin: 1em;
}
.scrollingImg{
  overflow: scroll;
  height: 10vh;

}
.container-inner{
  width:10000px;
}
a {
  text-decoration: none;
}
