body{
  margin: 0;
}
header {
  background:#adad85;
  display:flex;
  border-bottom: 2px solid black;
}
.wrapper {
  display:flex;
  background: lightgrey;
  height:92vh;
}
footer {
  display:flex;
  background:#adad85;
}
footer p{
  margin-left: 10%;
}
.containerLeft{
  align-self: center;
  width: 40%;
}
.containerRight{
  width: 60%;
  align-self: center;
  background-image: url("resources/fadedTrack.jpg");
  height: 100%;
}
.contentLeft{
  margin-left: 25%;
}
.img{
  max-height: 100%;
}
button{
  background: #1f1f2e ;
  color: white;
  padding: 1em 2em;
  border-radius: 10%;
}
.albums{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  max-height: 100%;
}

.generatedDiv{
  max-height: 100%;
}
h1{
  color: purple;
}
